# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SampleDownloadAddressablesVideo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\GitHub\SampleDownloadAddressablesVideo\.idea\.idea.SampleDownloadAddressablesVideo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
